<section class="section experience">
  <div class="container">
    <h2 class="section-title">Coffee Moments</h2>
    <p class="description">Experience the warmth and community of CoffeeJoy.</p>
    <ul class="gallery">
      <li class="gallery-item">
        <picture class="gallery-img">
          <source
            srcset="/img/experience-1.png 1x, /img/experience-1@2x.png 2x"
          />
          <img
            src="/img/experience-1.png"
            alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows. Minimalistic setup with a linen napkin and small spoon nearby. Background softly blurred."
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-img">
          <source
            srcset="/img/experience-2.png 1x, /img/experience-2@2x.png 2x"
          />
          <img
            src="/img/experience-2.png"
            alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows. Minimalistic setup with a linen napkin and small spoon nearby. Background softly blurred."
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-img">
          <source
            srcset="/img/experience-3.png 1x, /img/experience-3@2x.png 2x"
          />
          <img
            src="/img/experience-3.png"
            alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows. Minimalistic setup with a linen napkin and small spoon nearby. Background softly blurred."
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-img">
          <source
            srcset="/img/experience-4.png 1x, /img/experience-4@2x.png 2x"
          />
          <img
            src="/img/experience-4.png"
            alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows. Minimalistic setup with a linen napkin and small spoon nearby. Background softly blurred."
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-img">
          <source
            srcset="/img/experience-5.png 1x, /img/experience-5@2x.png 2x"
          />
          <img
            src="/img/experience-5.png"
            alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows. Minimalistic setup with a linen napkin and small spoon nearby. Background softly blurred."
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-img">
          <source
            srcset="/img/experience-6.png 1x, /img/experience-6@2x.png 2x"
          />
          <img
            src="/img/experience-6.png"
            alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows. Minimalistic setup with a linen napkin and small spoon nearby. Background softly blurred."
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-img">
          <source
            srcset="/img/experience-7.png 1x, /img/experience-7@2x.png 2x"
          />
          <img
            src="/img/experience-7.png"
            alt="A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art, placed on a rustic wooden table. Soft morning sunlight falls diagonally across the surface, casting warm shadows. Minimalistic setup with a linen napkin and small spoon nearby. Background softly blurred."
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
