<section class="section footer">
    <div class="container">

        <div class="footer-box">

            <div class="footer-block">
                <svg class="footer-logo">
                    <use href="/img/sprite.svg#icon-logo"></use>
                </svg>

                <ul class="soc-list">
                    <li class="soc-link">
                        <a href="https://www.facebook.com/">
                            <svg class="soc-icon">
                                <use href="/img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="soc-link">
                        <a href="https://www.instagram.com/">
                            <svg class="soc-icon">
                                <use href="/img/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="soc-link">
                        <a href="https://x.com/">
                            <svg class="soc-icon">
                                <use href="/img/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#benefits">Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="location">Location</a>
                    </li>
                </ul>

            </div>
        </div>

        <p class="footer-rights">© 2025 CoffeeJoy. All rights reserved.</p>

    </div>
</section>