<header class="section">
  <div class="container">
    <nav class="navigation">
      <a href="./index.html" class="logo">
        <svg width="57" height="32">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="navigation-list">
        <li class="navigation-item"><a href="#aboutus">About us</a></li>
        <li class="navigation-item"><a href="#benefits">Benefits</a></li>
        <li class="navigation-item"><a href="#gallary">Gallery</a></li>
        <li class="navigation-item"><a href="#testimonial">Testimonial</a></li>
        <li class="navigation-item"><a href="#location">Location</a></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <svg class="icon" width="16" height="12">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </div>
  </div>
</header>
