<div class="menu-mobile -is-open">
  <div class="menu-container-mobile">
    <div class="menu-wrapper-mobile">
      <a href="/index.html" class="logo-mobile">
        <svg width="64" height="36">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button type="submit" class="menu-close-btn-mobile">
        <svg class="menu-close-btn-icon-mobile" width="11" height="11">
          <use href="/img/sprite.svg#icon-modal-close"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation-mobile">
      <ul class="navigation-list-mobile">
        <li class="navigation-item">
          <a href="#aboutus" class="mobile-menu-link">About us</a>
        </li>
        <li class="navigation-item">
          <a href="#benefits" class="mobile-menu-link">Benefits</a>
        </li>
        <li class="navigation-item">
          <a href="#gallery" class="mobile-menu-link">Gallery</a>
        </li>
        <li class="navigation-item">
          <a href="#testimonial" class="mobile-menu-link">Testimonial</a>
        </li>
        <li class="navigation-item">
          <a href="#location" class="mobile-menu-link">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
