<div class="mobile-menu is-open">
  <div class="mobile-menu-container">
    <button type="submit" class="mobile-menu-close-btn">
      <svg class="mobile-menu-close-btn-icon" width="8" height="8">
        <use href="/img/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <nav class="navigation-mobile">
      <ul class="navigation-list">
        <li class="navigation-item"><a href="#aboutus">About us</a></li>
        <li class="navigation-item"><a href="#benefits">Benefits</a></li>
        <li class="navigation-item"><a href="#gallery">Gallery</a></li>
        <li class="navigation-item"><a href="#testimonial">Testimonial</a></li>
        <li class="navigation-item"><a href="#location">Location</a></li>
      </ul>
    </nav>
  </div>
</div>
