<div class="mobile-menu is-open">
  <div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
      <a href="/index.html" class="mobile-logo">
        <svg width="64" height="36">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button type="submit" class="mobile-menu-close-btn">
        <svg class="mobile-menu-close-btn-icon" width="8" height="8">
          <use href="/img/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation-mobile">
      <ul class="navigation-list">
        <li class="navigation-item"><a href="#aboutus" class="mobile-menu-link">About us</a></li>
        <li class="navigation-item"><a href="#benefits" class="mobile-menu-link">Benefits</a></li>
        <li class="navigation-item"><a href="#gallery" class="mobile-menu-link">Gallery</a></li>
        <li class="navigation-item"><a href="#testimonial" class="mobile-menu-link">Testimonial</a></li>
        <li class="navigation-item"><a href="#location" class="mobile-menu-link">Location</a></li>
      </ul>
    </nav>
  </div>
</div>
