<div class="modal-oberlay">
  <div class="modal-menu">
    <button class="modal-btn" type="button">
      <svg class="modal-btn-svg" width="14" height="14">
        <use href="../img/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
    <p class="modal-text">
      Fresh brews, special offers, and cozy updates are coming your way.
    </p>
    <picture class="modal-img">
      <source
        media="(min-width: 1440px)"
        srcset="
          ../img/modale/modale-desktop-min.jpg    1x,
          ../img/modale/modale-desktop@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/modale/modale-tablet-min.jpg    1x,
          ../img/modale/modale-tablet@2x-min.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/modale/modale-mobile-min.jpg    1x,
          ../img/modale/modale-mobile@2x-min.jpg 2x
        "
      />
      <img
        class="modal-img"
        src="../img/modale/modale-desktop-min.jpg"
        alt="CoffeeJoy"
      />
    </picture>
    <button class="modal-close-btn" type="button">Close</button>
  </div>
</div>
