<section class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">What our visitors say</h2>
    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon one-star"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "Every cup feels like a warm hug! I'm addicted to their seasonal
            flavors!"
          </p>
        </div>
        <p class="testimonials-list-person">Name Surname</p>
      </li>
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon one-star"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly."
          </p>
        </div>
        <p class="testimonials-list-person">Alice Johnson</p>
      </li>
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>
        </div>
        <p class="testimonials-list-person">Michael Smith</p>
      </li>
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon two-stars"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon two-stars"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "The pastries are to die for! I can’t resist pairing them with my
            favorite latte. Highly recommend this spot!"
          </p>
        </div>
        <p class="testimonials-list-person">Emily Davis</p>
      </li>
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>
        </div>
        <p class="testimonials-list-person">James Brown</p>
      </li>
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon two-stars"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon two-stars"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>
        </div>
        <p class="testimonials-list-person">Sarah Wilson</p>
      </li>
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon one-star"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "I'm addicted to their seasonal flavors! Each one is crafted with
            such care and creativity."
          </p>
        </div>
        <p class="testimonials-list-person">Chris Lee</p>
      </li>
      <li class="testimonials-list-item">
        <div class="testimonials-box">
          <ul class="testimonials-box-list">
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg class="testimonials-box-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
            <li class="testimonials-box-item">
              <svg
                class="testimonials-box-icon one-star"
                width="19"
                height="19"
              >
                <use href="/img/sprite.svg#icon-star-black"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-box-feed">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethical business!"
          </p>
        </div>
        <p class="testimonials-list-person">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
