<section class="section">
  <div class="container">
    <div class="welcome-container">
      <p class="subheader">welcome</p>
      <h2 class="welcome-header">Our Journey: Passion for Quality Coffee</h2>
    </div>
    <div class="welcome-content">
      <p class="welcome-text">
        At CoffeeJoy, we believe that every cup tells a story. Our mission is to
        bring you the finest coffee experiences, crafted with care and
        dedication. We are committed to sourcing high-quality beans and roasting
        them to perfection, ensuring each sip is a delight.
      </p>
      <button class="welcome-btn">
        Find location
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-location"></use>
        </svg>
      </button>
    </div>
    <img src="/src/img/welcome/welcome-mob.jpg" alt="" />
  </div>
</section>
